<!--ログインしていて、いいねがされている場合-->
<% if user_signed_in? && book.want_by?(current_user) %>
  <%= link_to book_wants_path(book), method: :delete do %>
    <div class="btn btn-danger">欲しい本から解除</div>
  <% end %>
<!--ログインしていて、いいねがされていない場合-->
<% elsif user_signed_in? && !book.want_by?(current_user) %>
  <%= link_to book_wants_path(book), method: :post do %>
    <div class="btn btn-success">欲しい本に登録</div>
  <% end %>
<!--ログインしていない場合-->
<% else %>
<% end %>