<!--ログインしていて、いいねがされている場合-->
<% if user_signed_in? && book.read_by?(current_user) %>
  <%= link_to book_reads_path(book), method: :delete do %>
    <div class="btn btn-block btn-danger mb-1">読んだ本から解除</div>
  <% end %>
<!--ログインしていて、いいねがされていない場合-->
<% elsif user_signed_in? && !book.read_by?(current_user) %>
  <%= link_to book_reads_path(book), method: :post do %>
    <div class="btn btn-block btn-success mb-1">読んだ本に登録</div>
  <% end %>
<!--ログインしていない場合-->
<% else %>
<% end %>