<!--ログインしていて、いいねがされている場合-->
<% if user_signed_in? && book.reading_by?(current_user) %>
  <%= link_to book_readings_path(book), method: :delete, remote: true do %>
    <div class="book_favo_delete mb-1">読んでいる本から解除</div>
  <% end %>
<!--ログインしていて、いいねがされていない場合-->
<% elsif user_signed_in? && !book.reading_by?(current_user) %>
  <%= link_to book_readings_path(book), method: :post, remote: true do %>
    <div class="book_favo_create mb-1">読んでいる本に登録</div>
  <% end %>
<!--ログインしていない場合-->
<% else %>
<% end %>