<h1>Homes#top</h1>
<p>Find me in app/views/homes/top.html.erb</p>


<div class="row">
  <%= link_to 'ゲストログイン（閲覧用）', user_guest_sign_in_path, class: "btn btn-secondary btn-sm btn-block mb-3 sign_in", method: :post %>
</div>