  <div class="text">
    <h3><i class="fas fa-pen-fancy"></i> レビュー投稿について</h3>
    done it?では現在  <strong><%= @tags.count %>つ</strong>のタグを用意させていただいてます。<br>
    あなたの好みにぴったりのミステリ本が探しやすくなるように<br>
    done it?をご利用の皆様にはタグに対する認識を、可能な範囲で揃えていけたらと思っております。<br>
    そこで製作者の一存で、タグについての基準を設けさせていただきます。<br>
    こちらのページを参考にレビュー投稿の際はタグ付け頂ければ幸いです。<br><br><br>

    <h3><i class="fas fa-book"></i> 分類について</h3>
    和書　／　邦書　／　洋書　の３種類用意しております。<br><br>
    <i class="fas fa-check-square"></i> 和書　　日本語で書かれた小説です。　　　　　　　　　　<br>
    <i class="fas fa-check-square"></i> 邦書　　外国語で書かれた小説を、翻訳したものです。　　<br>
    <i class="fas fa-check-square"></i> 洋書　　外国語で書かれた小説です。　　　　　　　　　　<br><br><br>

    <h3><i class="fas fa-ruler"></i> 長さについて</h3>
    長編　／　中編　／　短編　の３種類用意しております。<br><br>
    <i class="fas fa-check-square"></i> 長編　　　一冊全てが１つの物語の小説です。　　　　　　<br>
    <i class="fas fa-check-square"></i> 中編　　　一冊が２～４話の物語に分かれている小説です。<br>
    <i class="fas fa-check-square"></i> 短編　　　一冊が５話以上の物語に分かれている小説です。<br><br><br>

    <h3><i class="fas fa-search"></i> 謎解き方法について</h3>
    Who done it?　／　Why done it?　／　How done it?　／　叙述トリック　／　倒叙ミステリー　の５種類用意しております。<br>
    <div class="red">※ こちらは小説の内容に大きく関わるため、個人による個別設定で表示するか選択可能です。</div>
    <i class="fas fa-check-square"></i> Who done it?　　小説内で犯人が「どのように犯行に及んだのか？」を解くものです。　　　　　　　　　　　<br>
    <i class="fas fa-check-square"></i> Why done it?　　小説内で犯人が「なぜ犯行に及んだのか？」を解くものです。　　　　　　　　　　　　　　<br>
    <i class="fas fa-check-square"></i> How done it?　　小説内で犯人が「どのように犯行に及んだのか？」を解くものです。　　　　　　　　　　　<br>
    <i class="fas fa-check-square"></i> 叙述トリック　　先入観などを利用し、文章で記述上の仕掛けによって誤った解釈に導くトリックです。　　　<br>
    <i class="fas fa-check-square"></i> 倒叙トリック　　物語冒頭で犯人の視点で事件が発生し、犯人と犯行過程がわかった上で読み進める物語です。<br><br><br>

    <h3><i class="fas fa-paperclip"></i> タグについて</h3>
    <%= @tags.count %>種類のタグを用意しております。
    タグの追加依頼は
    <%= link_to new_tag_path do %>
      こちら
    <% end %>
    へ
  </div>
