<div class="center mb-3"><h2>フォローしている人一覧(<%= @users.count %>人)</h2></div>
<%= render 'follow_index', users: @users %>
<div class="row justify-content-center offset-1 mt-5"><%= paginate @users %></div>