/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_self.
 *= require_self
 */



/*共通CSS部分*/
/*ヘッダーの背景色*/
header {
  background-color: #000055;
}


/*サイト全体の文字色*/
body {
  color: #000055;
}

/*フッター下部固定*/
footer {
  margin-top: 30px;
  width: 100%;
  height: 120px;
  text-align: center;
  line-height: 120px;
  color: white;
  background-color: #000044;
  bottom: 0;
}

.footerFixed {
  display: flex;
  min-height: 100vh;
  flex-direction: column
}

.container {
  flex: 1 1 auto;
　margin-top: 30px;
}

/*フラッシュメッセージのセンタリング*/
.flash {
  text-align: center;
}

/*バリデーションエラーのフォーム崩れ防止*/
.field_with_errors {
  display: contents;
}

/*ページネーションレイアウト*/
.page-item.active .page-link {
  background-color: #000055;
  border-color: #000055;
}

.page-link {
  color: #000055;
}

a:hover {
  cursor: url(mouse.png), auto;
}

.link:hover {
  cursor: url(mouse.png), auto;
}

header a:hover {
  cursor: url(mouse2.png), auto;
}


/*文字色を赤くするところ*/
.red {
  color: #DD0000;
}

/*入力フォーム*/
#form {
  margin: 25px 0;
	justify-content: center;
}

/*createボタン(青背景に白文字)*/
.submit_create {
  margin-bottom: 5px;
  display: block;
  background-color: #000055;
  color: white;
  border: solid 1px #000055;
  border-radius: 5px;/*角丸*/
  padding: 5px;
  text-decoration: none;
  text-align: center;
}

.submit_create:hover {
  text-decoration: none;
  color: white;
  cursor: url(mouse2.png), auto;
}

/*editボタン(白背景に青文字)*/
.edit {
  margin-bottom: 5px;
  display: block;
  color: #000055;
  border: solid 1px #000055;
  background-color: white;
  border-radius: 5px;/*角丸*/
  padding: 5px;
  text-decoration: none;
  text-align: center;
}

.edit:hover {
  background-color: #000055;
  color: white;
  text-decoration: none;
  cursor: url(mouse2.png), auto;
}

/*deleteボタン(白背景に赤文字)*/
.delete {
  margin-bottom: 5px;
  display: block;
  color: #BB0000;
  border: solid 1px #BB0000;
  border-radius: 5px;/*角丸*/
  padding: 5px;
  text-decoration: none;
  text-align: center;
}

.delete:hover {
  background-color: #BB0000;
  color: white;
  text-decoration: none;
  cursor: url(mouse3.png), auto;
}

/*deleteボタン(赤背景に白文字)*/
.withdraw {
  margin-bottom: 5px;
  display: block;
  color: white;
  background-color: #BB0000;
  border: solid 1px #BB0000;
  border-radius: 5px;/*角丸*/
  padding: 5px;
  text-decoration: none;
  text-align: center;
}

.withdraw:hover {
  color: white;
  text-decoration: none;
  cursor: url(mouse3.png), auto;
}

/*改行なしのボタン(青背景に白文字)*/
.btn_submit {
  margin-bottom: 5px;
  background-color: #000055;
  color: white;
  border: solid 1px #000055;
  border-radius: 5px;/*角丸*/
  padding: 5px 10px;
  text-decoration: none;
  text-align: center;
}

.btn_submit:hover {
  cursor: url(mouse2.png), auto;
}

/*文字センタリング*/
.center {
  text-align: center;
}

h1 {
  text-align: center;
  margin: 50px 0;
}

h2 {
  margin-top: 50px;
}

h3 {
  margin-bottom: 15px;
}

h4 {
  margin: 30px 0px 15px;
}











/*userページ*/

/*文章改行設定*/
.body_warp{
  word-wrap: break-word;
  margin-bottom: 15px;
}

/*ネタバレ文章の隠し設定*/
.netabare {
  position: relative;
  box-sizing: border-box;
  cursor: pointer;

}
.netabare.on {
  color: rgba(0,0,0,0);
  text-shadow: 0 0 10px #000;
}
.netabare.on:before {
  content: 'クリックで表示';/*クリック前表示文*/
  position: absolute;
  text-shadow: none;
  color: #fff;
  width: 220px;/*クリック前表示文横*/
  height: 28px;/*クリック前表示文縦*/
  line-height: 28px;
  left: 50%;
  top: 50%;
  text-align: center;
  background-color: #cb2222;
  margin-left: -110px;
}



/*レビューいいね、コメントボタン文position*/
.review{
  position: relative;
}

/*いいね、コメントボタンposition*/
.favorite {
  position: absolute;
  top: 0px;
  right: 10px;
}

/*book searxhページ文字*/
.search {
  font-size : 33px;
  margin-right: 20px
}

/*userのbook一覧ボタン(白背景に青文字,hoverで配色変えなし)*/
.book {
  margin-bottom: 5px;
  display: block;
  color: #000055;
  border: solid 1px #000055;
  border-radius: 5px;/*角丸*/
  padding: 5px;
  text-decoration: none;
  text-align: center;
}

.book:hover {
  text-decoration: none;
  cursor: url(mouse.png), auto;
}



/*adminページ*/

/*テーブル*/
thead {
  background-color: #000055;
  color: white;
  text-align: center;
}

/*user_showページで使用*/
.tr {
  background-color: #000055;
  color: white;
  width: 300px;
}

.show_table {
  width: 1000px;
  margin:0 auto;
}

/*review/idexの表*/

.warp {
  word-break: break-all;
  width: 400px;
  table-layout: fixed;
}

.id {
  width: 100px;
  table-layout: fixed;
}


/*top/abooutページ*/
.text {
  margin-top: 50px;
  text-align: center;
}





