/*サイト全体の文字色*/
body {
  color: #000055;
}

/*ヘッダーの背景色*/
header {
  background-color: #000055;
}

.flash {
  text-align: center;
}

/*フッター*/
footer {
  margin-top: 30px;
  width: 100%;
  height: 120px;
  text-align: center;
  line-height: 120px;
  color: white;
  background-color: #000044;
  bottom: 0;
}

.footerFixed {
  display: flex;
  min-height: 100vh;
  flex-direction: column
}

.container {
  flex: 1 1 auto;
}

/*ユーザーページのinfo設定*/
.user_info p {
  text-align: center;
  margin-bottom: 15px;
}

/*ユーザーページ読みたい本、読んだ本、読んでる本、積読本一覧ページへのリンクボタン*/
.user_books a {
  margin-bottom: 5px;
  display: block;
  color: #000055;
  border: solid 1px #000055;
  border-radius: 5px;/*角丸*/
  padding: 5px;
  text-decoration: none;
  text-align: center;
}

/*文字色を赤くするところ*/
.red {
  color: #DD0000;
}

/*読みたい本、読んだ本、読んでる本、積読本登録リンク*/
.book_favo_create{
  margin-bottom: 5px;
  display: block;
  color: #000055;
  border: solid 1px #000055;
  border-radius: 5px;/*角丸*/
  padding: 5px;
  text-align: center;
}

.book_favo_create:hover{
  text-decoration: none;
  color: #000055;
}

/*読みたい本、読んだ本、読んでる本、積読本削除リンク*/
.book_favo_delete {
  margin-bottom: 5px;
  display: block;
  background-color: #000055;
  color: white;
  border: solid 1px #000055;
  border-radius: 5px;/*角丸*/
  padding: 5px;
  text-decoration: none;
  text-align: center;
}

.book_favo_delete:hover {
  text-decoration: none;
  color: white;
}

/*レビュー編集ボタン*/
.edit {
  margin-bottom: 5px;
  display: block;
  color: #000055;
  border: solid 1px #000055;
  border-radius: 5px;/*角丸*/
  padding: 5px;
  text-decoration: none;
  text-align: center;
}

.edit:hover {
  background-color: #000055;
  color: white;
  text-decoration: none;
}

/*レビュー削除ボタン*/
.delete {
  margin-bottom: 5px;
  display: block;
  color: #BB0000;
  border: solid 1px #BB0000;
  border-radius: 5px;/*角丸*/
  padding: 5px;
  text-decoration: none;
  text-align: center;
}

.delete:hover {
  background-color: #BB0000;
  color: white;
  text-decoration: none;
}


/*レビュー本文、ネタバレ文章改行設定*/
.review_body div {
  word-wrap: break-word;
  margin-bottom: 15px;
}


/*ネタバレ文章の隠し設定*/
.netabare {
  position: relative;
  box-sizing: border-box;
  cursor: pointer;
}
.netabare.on {
  color: rgba(0,0,0,0);
  text-shadow: 0 0 10px #000;
}
.netabare.on:before {
  content: 'クリックで表示';
  position: absolute;
  text-shadow: none;
  color: #fff;
  width: 220px;
  height: 28px;
  line-height: 28px;
  left: 50%;
  top: 50%;
  text-align: center;
  background-color: #cb2222;
  margin-left: -110px;
  margin-top: -14px;
}

/*いいね、コメントボタン文position*/
.review{
  position: relative;
}

/*いいね、コメントボタンposition*/
.favorite {
  position: absolute;
  top: 0px;
  right: 10px;
}

p {
  margin-bottom: 5px;
}

/*about.top文章中央寄せ*/
.center{
  text-align: center;
}



/*ページネーションレイアウト*/
.page-item.active .page-link {
  background-color: #000055;
  border-color: #000055;
}

.page-link {
  color: #000055;
}

.form-grop {
  display: block;
}

/*バリデーションエラーの表示*/
.field_with_errors {
  display: contents;
}

#form {
  margin-top: 20px;
  margin-bottom: 20px;
}

.submit_create {
  margin-bottom: 5px;
  display: block;
  background-color: #000055;
  color: white;
  border: solid 1px #000055;
  border-radius: 5px;/*角丸*/
  padding: 5px;
  text-decoration: none;
  text-align: center;
}

.submit_create:hover {
  text-decoration: none;
  color: white;
}

h2 {
  margin-top: 50px;
}

#wrap {
  word-wrap: break-word;
  padding: 0px;
}