<% @another_entries.each do |entry| %>
  <div class="border m-3">
    <%= image_tag entry.user.profile_image, size: "100x100" %>
    <%= link_to direct_message_path(entry.user_id) do %>
      <%= entry.user.name %>
    <% end %>
    <%= DirectMessage.find_by(id: entry.dm_room.direct_message_ids.last)&.message %>
  </div>
<% end %>