<div class="row justify-content-center ml-5 mb-5">
  <%- if controller_name != 'sessions' %>
    既に登録済みの方は<%= link_to "こちら", new_session_path(resource_name) %>からログイン<br>
  <% end %>

  <%- if devise_mapping.registerable? && controller_name != 'registrations' %>
    <%= link_to "Sign up", new_registration_path(resource_name) %><br>
  <% end %>
</div>
